adal==1.2.7
argcomplete==3.6.2
azure-common==1.1.28
azure-core==1.35.0
azure-functions==1.23.0
azure-servicebus==7.14.2
azure-storage-blob==12.26.0
bandit==1.9.4
beautifulsoup4==4.14.2
bleach==6.2.0
build==1.4.4
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
colorama==0.4.6
confluent-kafka==2.13.0
coverage==7.13.5
cryptography==45.0.5
exceptiongroup==1.3.1
flake8==7.3.0
flake8-docstrings==1.7.0
Flake8-pyproject==1.2.4
flake8-quotes==3.4.0
gherkin-official==29.0.0
gitchangelog==3.0.4
gitdb==4.0.12
GitPython==3.1.47
idna==3.10
iniconfig==2.3.0
isodate==0.7.2
isort==8.0.1
jmespath==1.1.0
kaggle==1.7.4.5
lorem==0.1.1
Mako==1.3.11
mando==0.7.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mccabe==0.7.0
mdurl==0.1.2
msrest==0.7.1
msrestazure==0.6.4.post1
oauthlib==3.3.1
packaging==26.1
parse==1.21.1
parse_type==0.6.6
pathspec==1.1.0
pbr==7.0.3
pluggy==1.6.0
protobuf==6.31.1
pycodestyle==2.14.0
pycparser==2.22
pydocstyle==6.3.0
pyflakes==3.4.0
Pygments==2.20.0
PyJWT==2.10.1
pyproject_hooks==1.2.0
pystache==0.6.8
pytest==9.0.3
pytest-bdd==8.1.0
pytest-cov==7.1.0
pytest-testinfra==10.2.2
python-dateutil==2.9.0.post0
python-slugify==8.0.4
PyYAML==6.0.3
radon==6.0.1
requests==2.32.4
requests-oauthlib==2.0.0
rich==15.0.0
setuptools==82.0.1
six==1.17.0
smart_open==7.3.0.post1
smmap==5.0.3
snowballstemmer==3.0.1
soupsieve==2.8
stevedore==5.7.0
testinfra-bdd==3.1.1
text-unidecode==1.3
tomli==2.4.1
tomlkit==0.13.3
tqdm==4.67.1
typing_extensions==4.15.0
urllib3==2.6.3
webencodings==0.5.1
Werkzeug==3.1.3
wheel==0.47.0
wrapt==1.17.2
xmltodict==0.14.2
yamllint==1.38.0
yq==3.4.3
