attrs==21.4.0
bandit==1.7.4
build==0.8.0
colorama==0.4.5
coverage==6.4.2
flake8==4.0.1
flake8-docstrings==1.6.0
flake8-quotes==3.3.1
future==0.18.2
gitchangelog==3.0.4
gitdb==4.0.9
GitPython==3.1.27
glob2==0.7
iniconfig==1.1.1
Mako==1.2.1
mando==0.6.4
MarkupSafe==2.1.1
mccabe==0.6.1
packaging==21.3
parse==1.19.0
parse-type==0.6.0
pathspec==0.9.0
pbr==5.9.0
pep517==0.12.0
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pydocstyle==6.1.1
pyflakes==2.4.0
pyparsing==3.0.9
pystache==0.6.0
pytest==7.1.2
pytest-bdd==6.0.1
pytest-cov==3.0.0
pytest-flake8==1.1.1
pytest-testinfra==6.8.0
PyYAML==6.0
radon==5.1.0
semver==2.13.0
six==1.16.0
smmap==5.0.0
snowballstemmer==2.2.0
stevedore==4.0.0
tomli==2.0.1
urllib3==1.26.10
yamllint==1.27.1
