# This file should contain all the packages in the requirements.txt file in
# the root directory of this project except with no version specification.
attrs
bandit
build
colorama
coverage
flake8
flake8-docstrings
flake8-quotes
future
gitchangelog
gitdb
GitPython
glob2
iniconfig
Mako
mando
MarkupSafe
mccabe
packaging
parse
parse-type
pathspec
pbr
pep517
pluggy
py
pycodestyle
pydocstyle
pyflakes
pyparsing
pystache
pytest
pytest-bdd
pytest-cov
pytest-flake8
pytest-testinfra
PyYAML
radon
semver
six
smmap
snowballstemmer
stevedore
tomli
urllib3
yamllint
