attrs
bandit
build
colorama
coverage
exceptiongroup
flake8
flake8-docstrings
flake8-quotes
future
gitchangelog
gitdb
GitPython
glob2
iniconfig
jmespath
Mako
mando
MarkupSafe
mccabe
packaging
parse
parse-type
pathspec
pbr
pep517
pluggy
py
pycodestyle
pydocstyle
pyflakes
pyparsing
pystache
pytest
pytest-bdd
pytest-cov
pytest-testinfra
PyYAML
radon
semver
six
smmap
snowballstemmer
stevedore
tomli
typing_extensions
urllib3
yamllint
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
